@font-face {
  font-family: "General Sans";
  src: url(../fonts/GeneralSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url(../fonts/GeneralSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url(../fonts/GeneralSans-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", "Helvetica", sans-serif;
  margin: 0;
  color: #000;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #3461ff;
  border-radius: 20px;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 18px;
}

.header__menu-list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in;
}

.header__menu-link:hover {
  color: #1843df;
}

.header__button {
  padding: 14px 24px;
  background-color: #3461ff;
  color: #fff;
  border-radius: 70px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header__button:hover {
  background-color: #1843df;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 84px;
}

.hero__main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
  padding-bottom: 122px;
}

.hero__body {
	align-self: center;
	display: grid;
  max-width: 518px;
}

.hero__title {
  font-size: clamp(2.5rem, 8vw, 6rem);  
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 98.5px;
  margin-bottom: 28px;
}

.hero__description {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 44px;
}

.hero__sign-in {
  display: flex;
  height: 64px;
  gap: 12px;
}

.hero__input {
  width: 339px;
  padding: 20px 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  border-radius: 37px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.hero__input::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #aaaaaa;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  padding: 20px 24px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  background-color: #3461ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.2s ease-in;
}

.hero__button:hover {
  background-color: #1843df;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

.hero__partners {
  background-color: #fafafa;
  width: 100%;
}

.hero__partners-inner {
  padding-block: 78px 130px;
}

.hero__partners-title {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 100px;
}

.hero__partners-list {
  display: grid;
	grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__partners-item img {
  max-width: 140px;
  height: auto;
}

.commitments__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 137px;
}

.commitments__numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px 89px;
  list-style: none;
}

.commitments__number-title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
}

.commitments__number-description {
  color: rgba(0, 0, 0, 0.6);;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.commitments__body {
  max-width: 576px;
}

.commitments__title {
  font-size: 64px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

.commitments__description {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 82px;
}

.commitments__button-link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #3461ff;
  text-decoration: none;
  transition: color 0.3s;
}

.commitments__button-link:hover {
  color: #1843df;
}

.commitments__button-img {
  margin-left: 8px;
}

.how-it-works {
  padding-block: 100px;
}

.how-it-works__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 123px;
}

.how-it-works__content {
  max-width: 500px;
}

.how-it-works__title {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #000;
  margin-bottom: 15px;
}

.how-it-works__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 82px;
}

.how-it-works__image {
  max-width: 100%;
  height: auto;
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.how-it-works__item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.how-it-works__subtitle {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  margin-bottom: 12px;
}

.how-it-works__description {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
}

.how-it-works__icon {
  background-color: #3461ff;
  width: 106px;
  height: 106px;
  padding: 30px 30px;
	border-radius: 24px;
}

.projects {
  padding-block: 122px;
  
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__header {
  text-align: center;
}

.projects__header-title {
  font-size: 64px;
  font-weight: 500;
  padding-bottom: 12px; 
}

.projects__header-text {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 52px;
}

.projects__list {
  display: flex;
  gap: 20px;
}

.projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.projects__title {
  padding-bottom: 52px;
  font-size: 28px;
  font-weight: 500;
}

.projects__button {
  padding: 16px 48px;
  background-color: #3461ff;
  color: #fff;
  border-radius: 64px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.projects__button:hover {
  background-color: #1843df;
}

.banner {
  position: relative;
  padding: 100px 60px;
  background-image: url("../images/banner.svg");
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  color: #fff;
  overflow: hidden;
  margin-bottom: 102px;
}

.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 193px;
}

.banner__cta {
  max-width: 485px;
}

.banner__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 87px;
  letter-spacing: -1px;
}

.banner__description {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 40px;
}

.banner__button {
  background-color: #fff;
  color: #111;
  border: none;
  padding: 16px 48px;
  border-radius: 64px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.banner__button:hover {
  background-color: #e0e0e0;
}

.team {
  padding-top: 119px;
  padding-bottom: 117px;
}

.team__container {
  display: flex;
}

.team__list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 610px;
}

.team__content {
  padding-left: 102px;
}

.team__title {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1px;
  padding-bottom: 27px;
}

.team__text {
  min-width: 486px;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 144px;
}

.slider {
  padding-top: 94px;
  padding-bottom: 106px;
}

.slider__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}

.slider__controls {
  display: flex;
  gap: 20px;
}

.slider__title {
  font-size: 64px;
  letter-spacing: -1px;
  font-weight: 500;
}


.slider__arrow-button {
  border: none;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  gap: 20px;
}

.button-left {
  background-color: #f8f9ff;
}

.button-right {
  background-color: #3461ff;
  color:#fff
}

.button-right:hover {
  background-color: #1843df;
  transition-duration: 0.2ms
}

.slider__body {
  height: 312px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding-left: 20px;
}

.slider__body::-webkit-scrollbar {
  display: none;
}

.slider-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.slider-item {
  display: flex;
  flex: 0 0 auto;
  scroll-snap-align: start;
  justify-content: center;
  scroll-snap-align: start;
  padding: 40px 40px;
  width: 513px;
  height: 312px;
  background-color: #f8f9ff;
  border-radius: 30px;
}

.slider-item:hover {
  background-color: #3461ff;
  color:#fff
}


.slider-card__header {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.slider-client-name {
  display: flex;
  flex-direction: column;
}

.slider-card__name {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
}

.slider-card__position {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

.slider__body {
  font-size: 16px;
  line-height: 32px;
}

